.hero{
    background: url(../../public/assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: #E7816B;
}
@media (min-width: 768px) {
    .hero{
        background-position: right;
    }

}